.app {
  width: 90%;
  max-width: 1160px;
  margin: 50px auto 0;
}

#error-msg {
  margin-top: 40px;
}

.hidden {
  display: none;
}

.c-txt__input {
  width: 300px;
}

.c-btn.c-btn--primary,
.c-btn.is-selected {
  padding: 4.5px 2.25em;
}

#details {
  margin-top: 40px;
}

#details h1 {
  padding: 10px;
}

#details h1:nth-child(odd) {
  background-color: #9fdde6;
}
